poll_interval: 60

nws:
  states:
    - LA
    - TX

allstar:
  node: 1999

audio:
  path: /usr/share/sounds/swla

tones:
  default:
    start: 3
    end: 3
  Tornado Warning:
    start: 8
    end: 8
